p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.toc-logo {
  max-width: 100%;
  margin: 0 auto;
}

.toc-logo img {
  display: block;
  width: 100%;
  max-width: 200px; 
  margin: 0 auto 10px;
}

.summary > li:first-child {
  height: auto !important; 
}

/* For About Us */
.profile-section {
  width: 100%;
}

.profile-image {
  width: 200px;
  border: 2px solid black;
  float: left;
  margin-right: 20px;
}

.profile-section p {
  margin: 0 0 1em 0;
}

.profile-section::after {
  content: "";
  display: table;
  clear: both;
}

.book .book-summary .summary li a {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    hyphens: auto !important;
    white-space: normal !important;
}
